*{
    margin: 0;
    padding: 0;
}
header{
    margin: 10px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Segoe UI';
    font-weight: 600;
}
.logo img{
    width: 243px;
}
.right ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
.right ul li{
    cursor: pointer;
}
.right ul li:hover{
    cursor: pointer;
}